// clear CSS defaults
@use "_clearDefaults"

// vendor prefixes for browser compatibility
@use "_vendorPrefixes"

// declare themes
@use "_themes"

// nav styling template
@use "_nav"

// 1rem = 10px

// random trick that can change 'br' height
@mixin brHeight($desiredHeight)
  // give it a width
  display: block
  // clear default height
  content: ""
  // state height
  margin-top: $desiredHeight

@mixin flex($direction: row, $align: center, $justify: center)
  display: flex
  flex-direction: $direction
  align-items: $align
  justify-content: $justify

body
  background: var(--bg)

// banner section
.banner
  background: var(--banner-bg)
  text-align: center
  width: 100%
  padding: 10rem 0 6rem 0
  clip-path: polygon(50% 0, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0)

  .logo
    width: 35rem

  .description
    margin-top: 2rem
    color: white
    text-align: center

    h1
      font-size: 4rem
      line-height: 5rem
      text-transform: uppercase

      #br2
        display: none

    p
      font-size: 2.5rem
      margin-top: 1.5rem

// firebase-auth section
#firebase-auth
  width: 100%
  height: auto
  @include flex(column, center)
  margin: 8rem 0

  .switch-guide
    @include flex(row, center, space-between)
    width: 160px
    margin-bottom: 1rem

    span
      font-size: 2rem

    #register
      padding-left: 7rem

  // Switch
  #flip-switch
    position: relative
    display: block
    width: 100px
    height: 34px
    margin-bottom: 3rem

    // Hide default checkbox
    #checkbox
      opacity: 0
      width: 0
      height: 0

      // Change toggle track colour
      &:checked + .slider
        background: black

      // Move toggle circle
      &:checked + .slider::before
        @include vendorPrefixes.transform(translateX(66px))

      &:checked + #card-inner
        @include vendorPrefixes.transform(rotateY(180deg))


    // Toggle track
    .slider
      position: absolute
      cursor: pointer
      top: 0
      right: 0
      bottom: 0
      left: 0
      background: #ccc
      @include vendorPrefixes.transition(background .4s ease)
      border-radius: 34px

      // Toggle circle
      &::before
        position: absolute
        content: ""
        height: 26px
        width: 26px
        left: 4px
        bottom: 4px
        background: white
        @include vendorPrefixes.transition(all .4s ease)
        border-radius: 50%


  // Define size of card
  .flip-card
    width: 50rem
    height: 35rem
    perspective: 2000px

    #card-inner
      position: relative
      width: 100%
      height: 100%
      @include vendorPrefixes.transition(transform 1s)
      transform-style: preserve-3d
      box-shadow: 1.5px 1.5px #e0e0e0
      border-radius: 2rem

      /*&:hover
        @include vendorPrefixes.transform(rotateY(180deg))

      #card-back
        @include vendorPrefixes.transform(rotateY(180deg))

      .form-container
        position: absolute
        width: 100%
        height: 100%
        border-radius: 2rem
        background: #f5f5f5
        @include flex(column, center, center)
        @include vendorPrefixes.transition(all .2s ease-out)
        // Keep opposite side invisible
        backface-visibility: hidden

        h2
          font-size: 3rem
          margin-bottom: 2rem

        form
          width: 70%

          label
            font-size: 2rem

          input
            width: 100%
            font-size: 1.8rem
            border: none
            border-bottom: 3px solid #c8c8c8
            background: transparent
            outline: none

          .email-field
            margin-bottom: 2rem

        #reg-but
          font-size: 2rem
          background: #59018f
          color: white
          width: 12rem
          padding: 1rem 0
          border-radius: 1rem
          cursor: pointer
          margin-top: 3rem
          border: black 3px solid
          display: show
          @include vendorPrefixes.transition(all .2s ease-in)

          &:hover
            background: white
            color: #59018f

        #login-but
          @extend #reg-but

        #logout-but
          @extend #reg-but
          display: none

#welcome
  display: none
  text-align: center
  font-size: 4rem
  color: black
  margin-top: 6rem

// media query
@media screen and (min-width: 1100px)

  // banner section
  .banner
    display: flex
    padding: 12rem 0 12rem 0
    justify-content: space-around
    align-items: center
    flex-direction: row-reverse

    .logo
      width: 45rem
      @include vendorPrefixes.transform(ScaleX(-1))
      margin-right: 5rem

    .description
      text-align: left
      margin: 4rem 5rem 0 5rem

      h1
        font-size: 5.5rem
        line-height: 8rem

        #br2
          display: inline

      p
        font-size: 3.5rem
        margin-top: 2.8rem
