:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

.light {
  --bg: white;
  --nav-font: black;
  --banner-bg: linear-gradient(to bottom, #472e6e, #8e4fa7);
  --themeCircle: white;
}

.dark {
  --bg: #212121;
  --nav-font: white;
  --banner-bg: linear-gradient(to bottom, #424242, #8c8c8c);
  --themeCircle: black;
}

nav {
  width: 100%;
  height: 80px;
  background: black;
}
nav .nav {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}
nav .nav .container {
  position: relative;
  display: block;
  padding: 0.2rem 0;
}
nav .nav .container .animation {
  font-size: 2.2rem;
  color: white;
  letter-spacing: 1px;
}
nav .nav .container .animation::after {
  width: 0;
  height: 2.8px;
  content: "";
  background-color: white;
  position: absolute;
  top: 100%;
  left: 50%;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
nav .nav .container .animation:hover::after {
  width: 100%;
  left: 0;
  right: 0;
}
nav .nav #toggle {
  margin-right: 2rem;
  color: white;
  font-size: 2.2rem;
  letter-spacing: 1px;
}
nav .nav #toggle::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 3px solid white;
  background: var(--themeCircle);
  margin-left: 1rem;
  top: 2.5rem;
  transition: background 0.3s ease-out;
  -webkit-transition: background 0.3s ease-out;
  -moz-transition: background 0.3s ease-out;
  -o-transition: background 0.3s ease-out;
  -ms-transition: background 0.3s ease-out;
}

body {
  background: var(--bg);
}

.banner {
  background: var(--banner-bg);
  text-align: center;
  width: 100%;
  padding: 2.8rem 0 6rem 0;
  clip-path: polygon(50% 0, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
}
.banner .logo {
  width: 35rem;
}
.banner .description {
  margin-top: 2rem;
  color: white;
  text-align: center;
}
.banner .description h1 {
  font-size: 4rem;
  line-height: 5rem;
  text-transform: uppercase;
}
.banner .description h1 #br2 {
  display: none;
}
.banner .description p {
  font-size: 2.5rem;
  margin-top: 1.5rem;
}

#firebase-auth {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10rem 0;
}
#firebase-auth .container {
  width: 50rem;
  height: 35rem;
  background: #f5f5f5;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 1.5px 1.5px #e0e0e0;
  margin-bottom: 7rem;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
}
#firebase-auth .container:focus-within {
  width: 52rem;
  height: 36.4rem;
}
#firebase-auth .container h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
#firebase-auth .container form {
  width: 70%;
}
#firebase-auth .container form label {
  font-size: 1.9rem;
}
#firebase-auth .container form input {
  width: 100%;
  font-size: 1.5rem;
}
#firebase-auth .container form .email-field {
  margin-bottom: 2rem;
}
#firebase-auth .container #reg-but, #firebase-auth .container #logout-but, #firebase-auth .container #login-but {
  font-size: 2rem;
  background: #59018f;
  color: white;
  width: 12rem;
  padding: 0.5rem 0;
  border-radius: 2.2rem;
  cursor: pointer;
  margin-top: 3.5rem;
  border: black 3px solid;
  display: show;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
}
#firebase-auth .container #reg-but:hover, #firebase-auth .container #logout-but:hover, #firebase-auth .container #login-but:hover {
  background: white;
  color: #59018f;
}
#firebase-auth .container #logout-but {
  display: none;
}

@media screen and (min-width: 1000px) {
  .banner {
    display: flex;
    padding: 2.8rem 0 12rem 0;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
  }
  .banner .logo {
    width: 45rem;
    transform: ScaleX(-1);
    -webkit-transform: ScaleX(-1);
    -moz-transform: ScaleX(-1);
    -o-transform: ScaleX(-1);
    -ms-transform: ScaleX(-1);
  }
  .banner .description {
    margin: 0;
    text-align: left;
    padding: 6.5rem 5rem 0 0;
  }
  .banner .description h1 {
    font-size: 5.5rem;
    line-height: 8rem;
  }
  .banner .description h1 #br1 {
    display: none;
  }
  .banner .description h1 #br2 {
    display: inline;
  }
  .banner .description p {
    font-size: 3.5rem;
    margin-top: 2.8rem;
  }

  #firebase-auth {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}

/*# sourceMappingURL=main.css.map */
